@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy Policy
Introduction
Welcome to SoftOne. Your privacy is important to us, and we are committed to protecting the personal information you share with us. This Privacy Policy explains how we collect, use, and safeguard your data when you use our services.

Information We Collect
We may collect the following types of information:

Personal Information: This includes your name, email address, phone number, and any other information you provide to us voluntarily.
Usage Data: We collect information on how you interact with our website and services, such as your IP address, browser type, and the pages you visit.
How We Use Your Information
We use the information we collect for various purposes, including:

<li>To provide and maintain our services.
<li>To notify you about changes to our services.
<li>To provide customer support.
<li>To monitor the usage of our services.
<li>To detect, prevent, and address technical issues.<br>
<br>
Data Security, We take the security of your personal information seriously and implement appropriate measures to protect it from unauthorized access, alteration, or disclosure. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure.

Third-Party Services
We may employ third-party companies and individuals to facilitate our services, provide services on our behalf, or assist us in analyzing how our services are used. These third parties have access to your personal information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.

Links to Other Websites
Our website may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site.</p>
